* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    width: 100%;
}

.container {
    max-width: 90%;
    width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.corners {
    position: relative;
    &--black {
        path {
            fill: $color-001;
        }
    }
    > svg {
        position: absolute;
        width: 80px;
        &:nth-child(1) {
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
        }
        &:nth-child(2) {
            bottom: 0;
            right: 0;
            transform: translate(50%, 50%);
        }
    }
}

.fadeIn {
    animation: fadeIn 0.4s ease-in-out forwards;
}

.slideInLeft {
    animation: slideInLeft 0.8s ease-in-out forwards;
}

.slideInBottom {
    animation: slideInBottom 0.8s ease-in-out forwards;
}

.slideInRight {
    animation: slideInRight 0.8s ease-in-out forwards;
}