body {
    font-family: $primary-regular;
    @include fontSize(18);
    line-height: 1.4;
}

h1 {
    font-family: $secondary-bold;
    line-height: 1;
    @include fontSize(36);

    .hero & {
        @include fontSize(28);
        margin-bottom: 30px;
        text-align: center;
        @include min($md) {
            @include fontSize(48);
        }
        @include min($lg) {
            margin-bottom: 50px;
            text-align: left;
            max-width: 90%;
        }
    }

    .error-404 & {
        @include fontSize(80);
        margin: 200px 0 20px;
        @include min($lg) {
            @include fontSize(280);
            margin: 200px 0 20px;
        }
    }

    .mentions & {
        text-align: center;
    }
}

h2 {
    font-family: $primary-black;
    @include fontSize(28);
    text-align: center;
    @include min($md) {
        @include fontSize(32);
    }
    .mentions & {
        text-align: center;
        @include min($lg) {
            text-align: left;
        }
    }
}

h3 {
    font-family: $secondary-bold;
    text-align: center;
    @include fontSize(24);
}

h4 {
    font-family: $secondary-bold;
    text-align: center;
    .card & {
        font-family: $primary-bold;
        text-decoration: underline;
    }
}

h5 {
    font-family: $secondary-bold;
    @include fontSize(21);
}

p {
    text-align: justify;
}

.active {
    color: $color-003;
}

.btn {
    @include fontSize(18);
}

footer {
    @include fontSize(16);
}

.text {
    &--center {
        text-align: center;
    }
    &--brown {
        color: $color-004;
    }
}