form {
    padding: 50px;
    width: 500px;
    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        @include fontSize(18);
        position: relative;
    }
    label {
        color: $color-006;
        position: absolute;
        top: 10px;
        left: 5px;
        padding: 0 10px;
    }
    input {
        border: none;
        border-bottom: 2px solid $color-004;
        height: 50px;
        padding: 0 15px;
        font-family: $primary-regular;
        @include fontSize(18);
        &:active, &:focus, &:focus-visible {
            outline: none;
        }
    }
    textarea {
        border: 2px solid $color-004;
        height: 300px;
        resize: none;
        padding: 15px;
        @include fontSize(18);
        font-family: $primary-regular;
        &:active, &:focus, &:focus-visible {
            outline: none;
        }
    }
    .btn {
        width: 100%;
    }
    .fg-input {
        label {
            bottom: 12px;
        }
    }
    .fg-textarea {
        label {
            top: 5px;
        }
    }
}