.certifications {
    .container {
        padding: 20px 0;
        @include min($lg) {
            padding: 100px 0;
            opacity: 0;
        }
    }
    h2 {
        margin-bottom: 20px;
        @include min($lg) {
            margin-bottom: 50px; 
        }
    }
    &--logos {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
        flex-wrap: wrap;
        @include min($lg) {
            gap: 50px;
        }
        .image-wrapper {
            max-width: 40%;
            width: 150px;
            height: 100%;
            opacity: 0;
            &:nth-child(1) {
                animation-delay: 0.6s;
            }
            &:nth-child(2) {
                animation-delay: 0.9s;
            }
            &:nth-child(3) {
                animation-delay: 1.2s;
            }
            &:nth-child(4) {
                animation-delay: 1.5s;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}