.products-page {
    h1 {
        margin: 50px 0 20px;
        color: $color-006;
    }
    .main-desc {
        text-align: center;
        margin: 0 auto 20px;
        @include min($lg) {
            max-width: 80%;
            margin: 0 auto 50px;
            animation-delay: 0.5s;
            opacity: 0;
        }
    }
}